:host /deep/ .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}
.ui-datatable-header{
  text-align:center;
  font-size:20px;
      background-color: white;
} 

