.logout{
    float: right;
    padding: 6px;
    margin-right: 64px;
    margin-top: -21px;
    width: 95px;
}
.username{
    padding: 6px;
    margin-right: 64px;
    margin-top: -21px;
    width: 95px;
}